.banner {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.35)
    ),
    url("https://schwans-prod.imgix.net/images/campaigns/photos/000/041/287/width_800/1536238305DSC02778.JPG?ch=Width%2CDPR%2CSave-Data&auto=format%2Ccompress&dpr=2&w=650");
  background-size: cover;
  background-repeat: no-repeat;

  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: minmax(30rem, 60rem);

  height: 90vh;
  justify-content: center;
  align-content: center;
  color: white;

  position: relative;

  margin-top: 10rem;

  &__header,
  &__recent-supporters,
  &__container--progressAndButtons {
    background-image: linear-gradient(
      to right bottom,
      rgba(210, 32, 48, 0.8),
      rgba(210, 32, 48, 0.8)
    );
  }

  &__header {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__recent-supporters {
    &__header {
      font-size: 2.5rem;
      text-align: center;
      color: $color-primary;
      background-color: white;
    }
    &__container {
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      background-color: white;
      color: red;
      height: 15rem;
      grid-gap: 1rem;
      overflow: hidden;
      height: 12rem;

      &:hover {
        overflow-y: scroll;
      }
    }

    &__card {
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    }
  }

  &__container--progressAndButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__progress {
    display: grid;
    grid-template-rows: min-content min-content;
    align-content: center;
    justify-content: center;

    &--amountRaised {
      font-size: 8rem;
    }

    &--goal {
      font-size: 2rem;
    }

    &--top {
      display: grid;
      grid-template-rows: min-content min-content;
    }
    &--bottom {
      display: grid;
      grid-template-columns: min-content 1fr;
    }
  }

  &__buttons {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    &--container {
      background-color: $color-primary;
      display: grid;
      justify-items: center;
      border-radius: 3rem;
      font-size: 2.5rem;
      text-transform: uppercase;

      &--share {
        background-color: white;
        color: $color-primary;
        display: grid;
        justify-items: center;
        border-radius: 3rem;
        font-size: 2.5rem;
        text-transform: uppercase;
      }
    }

    &--text {
      font-size: 1rem;
    }
  }
  /* 
        &__container {
    background-image: linear-gradient(
      to right bottom,
      rgba(210, 32, 48, 1),
      rgba(210, 32, 48, 1)
    );

    &--duration {
      display: grid;
      grid-template-rows: repeat(3, min-content);
    }
  }

  &__campaign {
    &-currentRaised {
      font-size: 7rem;
      font-weight: 700;
    }

    &-toBeRaised {
      font-size: 3rem;
    }

    &-teamSize {
      font-size: 2rem;
    }

    &-daysLeft {
      &__container {
        display: grid;
        grid-template-columns: min-content min-content;
      }

      &--number {
        font-size: 7rem;
        font-weight: 700;
      }

      &--text {
        font-size: 3rem;
      }
    }

    &-createdBy {
      display: grid;
      grid-template-columns: min-content 1fr;

      &__container--main {
        display: grid;
        grid-template-rows: repeat(3, min-content);
      }
    }
  } */
}
/* 
.user-avatar {
  border-radius: 100%;
  height: 50%;
}
 */
