.footer {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 120rem) 1fr;
  background-color: #e1e1e1;
  padding: 4rem;

  &__container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    @media only screen and (max-width: 500px) {
      grid-template-columns: 1fr;
      justify-items: start;
    }
  }

  &__list-header {
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    color: $color-primary;
    font-size: 1.2rem;
    transition: all 0.2s;

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
