.normal-text {
  font-size: 2rem;

  &--section {
    color: $color-primary;
    grid-column: 2;
    text-transform: uppercase;
    font-weight: 500;

    white-space: nowrap;

    position: relative;

    &:before,
    &:after {
      position: absolute;
      content: "";
      height: 0.5rem;
      width: 1rem;
      display: block;
      background-color: #d22030;
      top: 50%;
      transform: translateY(-50%);
      left: -15%;
    }

    &:after {
      right: -15%;
      left: initial;
    }
  }
}

.heading-primary {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  width: 100%;
  padding: 3rem;
  text-align: center;
}

.heading-secondary {
  color: $color-primary;
  font-size: 4rem;
  width: 100%;
  padding: 1rem;
  text-align: center;
  grid-column: 2;
}
